// Reassign color vars to semantic color scheme
$brand-primary:             #00b0eb;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;
$brand-inverse:             #292b2c;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.
 
$enable-rounded:            true !default;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;

// Variables
//
// Theme settings.

$body-bg: white;
$body-color: #292b2c;
$body-color-inverse: invert($body-color) !default;
$link-color: #00b0eb;

$font-family-base: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-h1: 2.5 * $font-size-base;
$font-size-h2: 2 * $font-size-base;
$font-size-h3: 1.75 * $font-size-base;
$font-size-h4: 1.5 * $font-size-base;
$font-size-h5: 1.25 * $font-size-base;
$font-size-h6: $font-size-base;

$display1-size: 6 * $font-size-base;
$display2-size: 5.5 * $font-size-base;
$display3-size: 4.5 * $font-size-base;
$display4-size: 3.5 * $font-size-base;

$border-radius: .25rem;


@import 'bootstrap-4.0.0-alpha.6';